*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-weight: 400 700;
    font-family: 'AudiType';
    font-style: normal;
    font-stretch: 100% 130%;
    src: url(https://assets.audi.com/audi-fonts/1/AudiTypeVF.woff2) format('woff2-variations');
    font-display: swap;
}

html {
    box-sizing: inherit;
}

body {
    font-family: 'AudiType';
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 20px;

    &>h1 {
        padding-bottom: 20px;
    }
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.audi>img {
    padding-bottom: 40px;
    width: 100%;
    height: auto;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-container>img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .audi-q5-desc h2, .audi-q5-desc1 h2, .audi-q5-desc5 h2 {
        text-align: justify !important;
        font-size: 2rem !important;
        width: 100% !important;
    }
    .audi-q5-desc p, .audi-q5-desc1 p, .audi-q5-desc5 p {
        text-align: justify !important;
        width: 100% !important;
    }
    .audi-q5-desc div, .audi-q5-desc1 div, .audi-q5-desc5 div {
        width: 100% !important;
    }
    .main {
        padding: 0 5px !important;
    }
    .audi-q5-desc h2 {
        line-height: normal !important;
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* Прозрачный черный фон */
    color: #000000;
    /* Белый цвет текста */
    padding: 10px;
    font-size: 2rem;

    & p {
        text-align: center;

    }
}

.audi {
    position: relative;
    display: inline-block;
    /* Позволяет контейнеру иметь размеры, соответствующие его содержимому */
}

.textonphoto {
    position: absolute;
    top: 88%;
    /* Располагаем текст по вертикали посередине контейнера */
    left: 5%;
    /* Располагаем текст по горизонтали посередине контейнера */
    transform: translate(-30%, -60%);
    /* Корректируем положение текста относительно его размеров */
    /* Прозрачный белый фон */
    padding: 10px;
    /* Отступы вокруг текста */
    color: rgb(255, 255, 255);
    width: 100px;
    font-size: 1.5rem;
    line-height: 2rem;
    white-space: nowrap;
}



.audi-q5-desc img {
    padding-bottom: 40px;
    width: 100%;
    height: auto;

}

.audi-q5-desc {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    & div {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    & h2 {
        font-size: 2.5rem;
        line-height: 5rem;
    }

    & p {
        width: 80%;
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: left;
    }
}

.audi-q5-desc1 img {
    padding-bottom: 40px;
    width: 100%;
    height: auto;

}

.audi-q5-desc1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    & div {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 20px;
    }

    & h2 {
        font-size: 2rem;
        line-height: 3rem;
        width: 40%;
        font-size: 32px;

    }

    & p {
        width: 80%;
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: left;
    }
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-95%, -150%);
    background-color: rgb(255, 255, 255);
    /* Прозрачный белый фон */
    color: black;
    padding: 10px;
    /* Шрифт текста */
    font-size: 20px;
    /* Размер текста */
    margin-left: 50px;

}

.audi-q5-desc4 img {
    padding-bottom: 40px;
    width: 75%;
    height: auto;

}

.audi-q5-desc4 {

    & h2 {
        
        font-size: 2.5rem;
        line-height: 5rem;
    }

    & p {
        
        width: 600px;
        font-size: 1rem;
        line-height: 1.4rem;

    }
}

.audi-q5-desc5 img {
    width: 100%;
    margin-bottom: 40px;
    
}

.audi-q5-desc5 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 50px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.4rem;

    & div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        gap: 10px;
    }

    & h2 {
        font-size: 2rem;
        line-height: 3rem;
        width: 60%;
        font-size: 2.5rem;

    }

    & p {
        width: 80%;
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: left;
    }
}

.audi-q5-desc6 img {
    width: 600px;
    order: 2;
    
}

.audi-q5-desc6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;    
    font-size: 1.2rem;
    line-height: 1.4rem;
    
    & h2 {
        font-size: 45px;
        font-size: 2.7rem;
        line-height: 3.5rem;
    }

    & p {        
        width: 400px;
        font-size: 1rem;
        line-height: 1.4rem;

    }
}

footer {
    padding: 20px 30px;
}